/*Variables CSS */
html body {
  margin: 0%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* CSS Variables */

:root {
  --primary-color: #4458dc;
  --primary-color2: #854fee;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --shadow-color: 0px 10px 30px rgbs(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 58, 61, 0.205);
}

/*Global CSS*/
.title-text {
  font: normal bold 50px/ 72px "Roboto";
}
.text-uppercase {
  text-transform: uppercase;
}

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px "Roboto";
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.1s ease;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after,
.button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  transition: background 0.1s ease;
}

.button.secondary-button:hover {
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}

p.para {
  color: var(--text-color);
  font: normal 500 16px/ 25px "Roboto'";
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -1px;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: var(--box-shadow);
  z-index: 999;
  transition: background 0.4s ease;
}

/*Main CSS*/
.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px "Roboto";
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Area */
.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
}
.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}

/* About Area */
.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/ 60px "Roboto";
  letter-spacing: 15px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
}

/* Skills Area */
.site-main .skills-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.site-main .skills-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.site-main .skills-area .first-row .col-lg-4 > .single-brand {
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 250px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.4s ease;
}
.site-main .skills-area .first-row .col-lg-4 > .single-brand > i {
  filter: opacity(0.15);
  width: 50%;
}

.site-main .skills-area .first-row .col-lg-4 > .single-brand > .fab {
  transform: scale(2);
}

. .site-main .skills-area .first-row .col-lg-4 > .single-brand:hover > i {
  filter: opacity(1);
}

.site-main .skills-area .experience-area {
  padding-left: 1rem;
}

.site-main .skills-area .experience-area span {
  display: block;
}

.site-main .skills-area .experience-area .years-area {
  background: url(../images/skill-info-bg.png) no-repeat 45px 20px;
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

.site-main .skills-area .experience-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0%;
  background: #e029290a;
  width: 400px;
  height: 400px;
  margin-left: 340px;
  z-index: -1;
}

.site-main .skills-area .experience-area .years-area .years {
  font: normal bold 84px/40px "Roboto";
  color: var(--primary-color);
}

.site-main .skills-area .experience-area .years-area h2 > span {
  font: normal 600 22px/30px "Roboto";
}

.site-main .skills-area .experience-area .call-area {
  padding-left: 10rem;
}

/* Certifications area */

.site-main .certifications-area {
  padding: 7rem 2rem;
}

.site-main .certifications-area .certifications-title {
  padding: 0 14rem;
}

.site-main .certifications-area .certifications-title h1 {
  font-size: 35px;
}

.site-main > .certifications-area .certifications {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 5rem 0.5rem;
  transition: box-shadow 0.7s ease;
}

.site-main > .certifications-area .certifications:hover {
  box-shadow: var(--box-shadow);
}

/*Subscribe me */

.site-main .subscribe-us-area .subscribe {
  background: url(../images/subscribe-bg.png) no-repeat;
  padding: 10rem 0;
  margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4 {
  font: normal 700 30px/30px "Roboto";
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p {
  font-family: "Roboto";
  color: whitesmoke;
  padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input {
  padding: 1.5rem 1rem;
  width: 400px;
  border: 1px solid whitesmoke;
  background: transparent;
  color: whitesmoke;
  font: normal 500 17px/20px "Roboto";
}

.site-main
  .subscribe-us-area
  .subscribe
  form
  .input-textbox
  input::placeholder {
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button {
  background: whitesmoke;
  color: #000;
  padding: 0.7rem 2rem;
  margin-left: 150px;
}

/* Footer Area */

footer.footer-area {
  padding: 5rem 0;
  background: url(../images/footer-bg.png) no-repeat;
}
footer.footer-area .social h5 {
  font: normal 500 23px/ 30px "Roboto";
}

footer.footer-area .social a > i {
  font-size: 22px;
  padding: 2rem;
  color: var(--border-color);
}

footer.footer-area .social a:hover > i {
  color: var(--primary-color);
}
